.footerbg {
    background-color: blueviolet;
    height: 150px;
}

.logo {
    height: 80px;
    position: fixed;
    margin-top: 30px;
    margin-right: 25px;
    border-radius: 10px;
    margin-left: 25px;
}

.head {
    text-align: center;
}

.body {
    text-align: center;
}
